.AppIconWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 1rem;
  padding: 0.2rem;
  border: 1px solid black;
  text-align: center;
  word-break: break-word;
  cursor: pointer;
}

.AppIconWrapper:hover {
  transform: scale(1.1);
}

.AppIconContainer {
  width: 100px;
  height: 60px;
}
